@import "~bourbon/app/assets/stylesheets/bourbon";
@import "~vizabi/src/assets/styles/mixins";
@import "~vizabi/src/assets/styles/common";
@import "~vizabi/src/assets/styles/chart";

.vzb-tool {
  .vzb-sankey {
    @extend %vzb-chart-wrapper;

    &-header {
      &-text {
        dominant-baseline: ideographic;
      }
    }

    &-chart {
      .links-container {
        fill: none;
        stroke-opacity: 0.2;
      }

      .gradient-links-container {
        fill: none;
        stroke-opacity: 0.7;
      }

      .nodes-container {
        font-family: sans-serif;
        font-size: 10px;

        rect {
          stroke: #000;
        }
      }
    }

    &-svg {
      @extend %vzb-chart-svg;
    }

    .vzb-data-info-icon {
      @extend %vzb-chart-info;
    }
  }
}